<h1>Your projects:</h1>

<% unless @projects.empty? %>
<table>
  <tr>
    <th>Title:</th>
    <th>Action:</th>
    <th>Total spent:</th>
    <th>Show:</th>

  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.title %></td>
    <td><%= raw(change_button(project))%></td>
    <td><div id = "project<%= project.id %>">
      <%= show_spent(*project.total_spent) %>
    </div> </td>
    <td><%= link_to 'Details', project %></td>

  </tr>
<% end %>
</table>
<% end %>

<br />

<%= link_to 'New Project', new_project_path %>
