<p>
  <b>Title:</b>
  <%= @project.title %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>
<% if @project.begining %>
  <p>
    Now you are working on this project. Started at: <%= @project.begining.getlocal.strftime("%y.%m.%d %H:%M:%S") %>
  </p>
<% end %>
<p>
  <b> Working intervals:</b> <br />
  <% @project.intervals.reverse.each do |interval| %>
    <%= show_interval(interval) %> <br />
  <% end %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
<%= button_to 'Delete project',
  @project,
  :method => :delete,
  :data => {confirm: 'Are you sure?'} %> 
