<!DOCTYPE html>
<html>
	<head>
	<title>Time logger</title>
  	<%= stylesheet_link_tag    "application", :media => "all" %>
  	<%= javascript_include_tag "application" %>
  	<%= csrf_meta_tags %>
	</head>
	<body id="store">
		<div id="banner">
			<div id="logo">
				<%= Time.now.strftime("%y.%m.%d %H:%M:%S")%>
			</div>
			<%= image_tag("rails.png") %>
			<%= link_to "Time logger", projects_url %>
	    <% unless session[:user_id]%>
 			  <div class = "login">
          <%= render :partial => "shared/login_form" %>
        </div>
	    <% else %>
		    <%= form_tag logout_path, :class => 'login' do%>
          <% user = User.find(session[:user_id]) %>
		      Hello, <%= user.name%>
	        <%= submit_tag 'logout' %> <br />
          <%= link_to "edit profile",edit_user_path(user) %>
		    <% end %>
		  <% end %>
		</div>
		<div id="columns">
			<div id="side">
        <% if session[:user_id] %>
          <div id = "discription">
            <% if session[:project_id] %>
              Now you are working on project named
              <% project = Project.find(session[:project_id]) %>
              "<%= link_to project.title, project_path(project) %>" <br />
              Total spent time: <%= show_spent(*project.total_spent)%>
            <% else %>
              Now you are not working on any project
            <% end %>
          </div>
        <% end %>
			</div>
			<div id="main">
        <% if notice %>
          <p id="notice"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p id="alert"><%= alert %></p>
        <% end %>

				<%= yield %>
 			</div>
 		</div>
	</body>
</html>
